[submodule "src/external/lsp/csharp-language-server-protocol"]
	path = src/external/lsp/csharp-language-server-protocol
	url = https://github.com/kekekeks/csharp-language-server-protocol.git
[submodule "src/external/pngcs/pngcs"]
	path = src/external/pngcs/pngcs
	url = https://github.com/kekekeks/pngcs.git
